Checks: >
  -*,
  readability-implicit-bool-conversion,
  readability-isolate-declaration,
  readability-braces-around-statements
WarningsAsErrors: "*"
CheckOptions:
  - {
      key: readability-implicit-bool-conversion.AllowIntegerConditions,
      value: "false",
    }
  - {
      key: readability-implicit-bool-conversion.AllowPointerConditions,
      value: "false",
    }
  - {
      key: readability-braces-around-statements.ShortStatementLines,
      value: "0",
    }
